<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
> 

<!-- 이 XML 이 어떤 interface 와 연결되는지 설정 -->
<mapper namespace="gudi.pro.eeem.dao.EtcDAO">

<!-- 2022-03-14 유현진 문의하기 임시리스트 -->
   <select id="queList" resultType="gudi.pro.eeem.dto.EtcDTO">
   
   		 SELECT que_num,mem_id, que_subject, que_category,que_state, que_admin,que_date 
   		FROM question
   		 
   		<!--  select m.mem_id, q.que_num , q.que_subject, q.que_content,q.que_category,q.que_state,q.que_admin,m.mem_email
		from question q left outer join members m on q.mem_id = m.mem_id where q.que_num= #{param1} -->
		
   </select>

   <!-- 2022-03-14 유현진 문의하기 글쓰기 -->
   	<insert id="queWrite" parameterType="hashmap">
   	 	INSERT 
   			INTO question(mem_id,que_subject,que_content,que_category)
   	 	VALUES(#{mem_id},#{que_subject},#{que_content},#{que_category})

    </insert>
    
       <!--문의  email 꺼내오기 -->
   <select id="getEmail" resultType="String">
	select mem_email from members where mem_id = #{param1}
   </select>
   
   
      <!--문의  name 꺼내오기 -->
   <select id="getName" resultType="String">
	select mem_name from members where mem_id = #{param1}
   </select>
   
    
    <!-- 2022-03-14 유현진 문의하기 상세보기 -->
      <select id="queDetail" resultType="gudi.pro.eeem.dto.EtcDTO">
    	SELECT * FROM question WHERE que_num = #{param1}
    </select>

        <!-- 2022-03-14 유현진 문의하기 상세보기 - 삭제 -->
   <delete id="delete" parameterType="hashmap">
     UPDATE question SET
   		que_del = '1'
   		WHERE que_num = #{que_num}
   </delete>
	
	<select id="bookmarkselect" resultType="int"> <!--즐겨찾기목록 추가 전 확인작업 -->
		select COUNT(meet_num) from bookmark WHERE meet_num = #{param1} and mem_id = #{param2}
	</select>
	
	<delete id="bookmarkdelete"> <!-- 기존의 즐겨찾기 삭제 -->
		delete from bookmark where meet_num = #{param1} and mem_id = #{param2}
	</delete>
	
    <insert id="bookmarkinsert"> <!--즐겨찾기 추가하기 -->
    	INSERT INTO bookmark(meet_num,mem_id)VALUES(#{param1},#{param2})
    </insert>



</mapper>