<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
> 

<!-- 이 XML 이 어떤 interface 와 연결되는지 설정 -->
<mapper namespace="gudi.pro.eeem.dao.GradeDAO">

	<!-- 글목록 -->
 	<select id="GradeList" resultType="appNmeet">
		SELECT m.mem_id,m.mem_name,m.mem_phone 
		FROM members m LEFT OUTER JOIN applicant a ON a.mem_id = m.mem_id 
		WHERE a.meet_num = #{param1} AND a.app_state = 1;
	</select>

	<insert id="rateEnd">
		INSERT INTO grade(
			mem_id, grd_targetId, grd_score,grd_targetType,meet_num
		)VALUES(
			#{param1},#{param2},#{param3},0,#{param4}
		)
	</insert>
	
	<select id="ptCount" resultType="int">
		select meet_point from meeting where meet_num = #{param2}
	</select>
	
	<insert id="pointRegist">
		insert into point(mem_id,pt_type,pt_targetNum,pt_count,pt_prev,pt_next) values(#{param1},#{param2},#{param3},#{param4},
			(select sum(p.pt_count) from point p where p.mem_id=#{param1}), #{param4}+(select sum(p.pt_count) from point p where p.mem_id=#{param1}))
	</insert>
</mapper>