<?xml version="1.0" encoding="UTF-8"?>
<!-- url 에는 태그의 정의가 들어있기 때문에 url이 없을 경우 태그를 인식하지 못함 -->
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
> 

<!-- 이 XML 이 어떤 interface 와 연결되는지 설정 -->
<mapper namespace="gudi.pro.eeem.dao.HomeDAO">

	<select id="home" resultType="meet">
		select * from meeting WHERE 
		meet_adstate=1 and meet_region= (select m.mem_region from members m where m.mem_id='test')
	</select>




</mapper>
