<?xml version="1.0" encoding="UTF-8"?>
<!-- url 에는 태그의 정의가 들어있기 때문에 url이 없을 경우 태그를 인식하지 못함 -->
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
> 

<!-- 이 XML 이 어떤 interface 와 연결되는지 설정 -->
<mapper namespace="gudi.pro.eeem.dao.HomeDAO">

	<select id="home" resultType="meet" parameterType="hashmap">
		select m.meet_num,m.mem_id,m.meet_subject,m.meet_interest,m.meet_region,m.meet_gatherStart,m.meet_gatherEnd,
		m.meet_start,m.meet_end,m.meet_thum,m.meet_adState,m.meet_state,m.meet_date
		 <if test="mem_id != null">
			,(select count(b.bmk_num) from bookmark b where b.meet_num=m.meet_num and b.mem_id=#{mem_id}) as bmk_count
		</if>
		 from meeting m order by meet_date desc
	</select>
	
	<select id="notice" resultType="etc">
		select *from notice WHERE mem_id = #{mem_id}
	</select>
	
	<!-- //session에 아이디가 없을경우 -->
	<select id="mainmeet" resultType="meet">
		SELECT m.meet_num,m.meet_subject,m.meet_interest,m.meet_region,m.meet_start,m.meet_end,m.meet_thum
		FROM advertisement a 
		LEFT OUTER JOIN meeting m ON a.meet_num = m.meet_num
		order by meet_date desc limit 5
	</select>
	
	<!-- //session에 아이디가 있을경우 -->
	<select id="mainusermeet" resultType="meet">
		SELECT m.meet_num,m.meet_subject,m.meet_interest,m.meet_region,m.meet_start,m.meet_end,m.meet_thum
		FROM advertisement a 
		LEFT OUTER JOIN meeting m ON a.meet_num = m.meet_num
		WHERE m.meet_region= (SELECT mb.mem_region FROM members mb WHERE mb.mem_id = #{param1})
		order by meet_date desc limit 5
	</select>



</mapper>
