<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
> 

<!-- 이 XML 이 어떤 interface 와 연결되는지 설정 -->
<mapper namespace="gudi.pro.eeem.dao.ManagerDAO">

<!-- 페이징 -->

	<!-- 경고 카운트  -->
	<select id="declarationAllCount" resultType="int">
		SELECT COUNT(dec_num) FROM declaration
	</select>
	<!-- 경고 카운트 END -->
	
	<!-- 경고 리스트  -->
	<select id="declarationListCall" resultType="gudi.pro.eeem.dto.ManagerDTO">
		select d.dec_date, d.dec_num, d.mem_id, d.dec_targetId, d.meet_Num, d.dec_type, d.dec_targetNum, d.dec_content, d.dec_admin, d.dec_state, s.sct_type
		from declaration d left outer join sanctions s on d.dec_num =s.dec_num
		order by dec_num desc
		LIMIT #{param1} OFFSET #{param2}
	</select>
	<!-- 경고 리스트 END -->
	
	
	<select id="checkCont" resultType="String">
		<if test="param1 == 0">
			select meet_subject from meeting where meet_num=#{param2}
		</if>
		
		<if test="param1 == 1">
			select cmt_content from comment where cmt_num=#{param2}
		</if>
		
		<if test="param1 == 2">
			select rev_subject from review where rev_num=#{param2}
		</if>
		
		
	</select>
	
	<insert id="sct_regist" parameterType="HashMap">
	insert into sanctions(dec_num, mem_id, sct_type, sct_content,sct_admin)
	value (#{dec_num}, #{mem_id}, #{sct_type}, #{sct_content},#{sct_admin})
	
	</insert>

	<update id="dec_update">
	update declaration set dec_state = 1 where dec_num = #{param1}
	</update>
	
	<select id="meetListAllCount" resultType="int">
		SELECT COUNT(meet_num) FROM meeting
		WHERE 1=1
		
		<if test="param1 != 5">
			and meet_state=#{param1}
		</if>
		<if test="param2 != null || param2 == '' ">
			and meet_subject LIKE concat('%', #{param2}, '%')
		</if>
	
	</select>
	
	<select id="managerMeetListCall" resultType="gudi.pro.eeem.dto.MeetDTO">
		select meet_num,meet_subject,meet_start,meet_end,meet_interest,meet_region,meet_point,meet_state from meeting
		WHERE 1=1
		<if test="param3 != 5">
			and meet_state=#{param3}
		</if>
		<if test="param4 != null || param4 == '' ">
			and meet_subject LIKE concat('%', #{param4}, '%')
		</if>
		order by meet_num desc
		LIMIT #{param1} OFFSET #{param2}
	</select>
	
	
	<select id="meetAddAllCount" resultType="int" parameterType="hashmap">
		SELECT COUNT(ad_num) FROM advertisement
		where 1=1
		<if test="ad_meetstate != 2">
			and ad_state=#{ad_meetstate}
		</if>
	</select>
	
	
	<select id="meetAddList" resultType="gudi.pro.eeem.dto.ApplicantAndMeetDTO">
		select a.meet_subject,
		a.meet_gatherStart,
		a.meet_gatherEnd,
		b.ad_num,
		b.ad_meetArea,
		b.ad_state from meeting as a inner join advertisement as b on a.meet_num =b.meet_num 
		<if test="param3 != 2">
			and ad_state=#{param3}
		</if>
		order by b.ad_num desc
		LIMIT #{param1} OFFSET #{param2}
	</select>
	
	
	<select id="QnAListAllCount" resultType="int">
		SELECT COUNT(que_num) FROM question
		where 1=1
	</select>
	
	
	<select id="QnAListCall" resultType="gudi.pro.eeem.dto.QuestionDTO">
		select que_num,mem_id, que_subject, que_date, que_admin, que_state, que_category from question
		WHERE 1=1
		order by que_num desc
		LIMIT #{param1} OFFSET #{param2}
	</select>
	
	<update id="que_stateUpdate">
		update question set que_state=1 where que_num = #{param1}
	</update>
	
	<!-- 멤버 카운트  -->
	<select id="memListAllCount" resultType="int">
		SELECT COUNT(mem_id) FROM members
		<if test="param1 != null || param1 == '' ">
			and mem_id LIKE concat('%', #{param1}, '%')
		</if>
		where 1=1
	</select>
	<!-- 멤버 카운트 END -->
	
	<!-- 멤버 리스트  -->
	<select id="managerMemListCall" resultType="gudi.pro.eeem.dto.MemberListDTO">
		select m.mem_id, m.mem_name, m.mem_email, m.mem_phone, m.mem_birth, m.mem_gender, m.mem_state,
		(select count(s.sct_num) from sanctions s where s.mem_id = m.mem_id and s.sct_type=0) as sct_num,
		(select sum(p.pt_count) from point p where p.mem_id = m.mem_id) as pt_count from members m where 1 = 1
		<if test="param3 != null || param3 == '' ">
			and mem_id LIKE concat('%', #{param3}, '%')
		</if>
		
		order by mem_date desc
		LIMIT #{param1} OFFSET #{param2}
	</select>
	<!-- 멤버 리스트 END -->
	
	<!-- mem_state Update -->
	<update id="mem_stateUpdate">
		update members set mem_state=#{param1} where mem_id = #{param2}
	</update>
	
	<select id="SanctionsAllCount" resultType="int">
		SELECT COUNT(sct_num) FROM sanctions where sct_type != 2
	</select>
	
	<select id="SanctionsListCall" resultType="Sanctions">
		select s.sct_num, s.mem_id, sct_type, sct_content, sct_admin, sct_date, d.dec_num, d.dec_targetId, d.meet_num, dec_targetNum, dec_type
		from sanctions s left outer join declaration d on s.dec_num = d.dec_num
		where s.sct_type != 2
		order by sct_num desc
		LIMIT #{param1} OFFSET #{param2}
	</select>

	<select id="checkCont2" resultType="String">
		<if test="param1 == 0">
			select meet_subject from meeting where meet_num=#{param2}
		</if>
		
		<if test="param1 == 1">
			select cmt_content from comment where cmt_num=#{param2}
		</if>
		
		<if test="param1 == 2">
			select rev_subject from review where rev_num=#{param2}
		</if>	
	</select>


	<!-- ==============================관리자여부 확인 ======================================== -->
	<select id="chkAdmin" resultType="String">
		select mem_state from members where mem_id=#{param1}
	</select>


</mapper>