<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
> 

<!-- 이 XML 이 어떤 interface 와 연결되는지 설정 -->
<mapper namespace="gudi.pro.eeem.dao.ManagerDAO">

<!-- 페이징 -->
	<select id="declarationAllCount" resultType="int">
		SELECT COUNT(dec_num) FROM declaration
	</select>
	
	<select id="declarationListCall" resultType="gudi.pro.eeem.dto.ManagerDTO">
		select d.dec_num, d.mem_id, d.dec_targetId, d.meet_Num, d.dec_type, d.dec_targetNum, d.dec_content, d.dec_admin, d.dec_state, s.sct_type
		from declaration d left outer join sanctions s on d.dec_num =s.dec_num
		order by dec_num desc
		LIMIT #{param1} OFFSET #{param2}
	</select>
	
	<select id="checkCont" resultType="String">
		<if test="param1 == 0">
			select meet_subject from meeting where meet_num=#{param2}
		</if>
		
		<if test="param1 == 1">
			select cmt_content from comment where cmt_num=#{param2}
		</if>
		
		<if test="param1 == 2">
			select rev_subject from review where rev_num=#{param2}
		</if>
		
		
	</select>
	
	<insert id="sct_regist" parameterType="HashMap">
	insert into sanctions(dec_num, mem_id, sct_type, sct_content,sct_admin)
	value (#{dec_num}, #{mem_id}, #{sct_type}, #{sct_content},#{sct_admin})
	
	</insert>

	<update id="dec_update">
	update declaration set dec_state = 1 where dec_num = #{param1}
	</update>










</mapper>