<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
> 

<!-- 이 XML 이 어떤 interface 와 연결되는지 설정 -->
<mapper namespace="gudi.pro.eeem.dao.MemberDAO">

	<select id="idCheck" resultType="int">
		select count(mem_id) from members where mem_id=#{param1}
	</select>
	
	<select id="phCheck" resultType="int">
		select count(mem_phone) from members where mem_phone=#{param1}
	</select>

	<insert id="regist" parameterType="hashmap">
		insert into members(mem_id,mem_pw,mem_name,mem_phone,mem_email,mem_gender,mem_birth,mem_interest,mem_region)
		 values(#{mem_id},#{mem_pw},#{mem_name},#{mem_phone},#{mem_email},#{mem_gender},#{mem_birth},#{mem_interest},#{mem_region})
	</insert>

	<select id="myPageUpdateForm" resultType="String">
		SELECT mem_pw FROM members WHERE mem_id = #{param1}
	</select>

	<select id="detail" resultType="members">
	SELECT * FROM members WHERE mem_id = #{param1}
	</select>
	
	<select id="notice_call" resultType="notice">
		select *from notice WHERE mem_id = #{param1}
	</select>

	<update id="memberUpdate" parameterType="hashmap">
		UPDATE members SET 
			mem_pw=#{mem_pw},
			mem_name = #{mem_name},
			mem_phone = #{mem_phone},
			mem_email = #{mem_email},
			mem_gender = #{mem_gender},
			mem_birth = #{mem_birth},
			mem_interest = #{mem_interest},
			mem_region = #{mem_region}
		WHERE mem_id = #{mem_id}
	</update>
	
	<select id="loginForm" resultType="members">
		select *from members WHERE mem_id = #{mem_id}
	</select>
	
	
	
	
	<select id="likeListCall" resultType="bmkNmeet">
		select m.meet_num, m.mem_id,m.meet_thum, m.meet_subject, m.meet_start,m.meet_end,m.meet_state,m.meet_region,
		m.meet_totalPrs,b.mem_id as bmk_loginId,(select count(a.app_num) from applicant a where a.meet_num=m.meet_num and a.app_state=1) as app_prs
		from meeting m left outer join bookmark b ON m.meet_num=b.meet_num where b.mem_id='ehdxornr' order by b.bmk_num desc;
	</select>
	
	
	<!-- ========================페이징================================================= -->
	<!-- 문의 전체목록수 -->
	<select id="queAllCount" resultType="int">
		SELECT COUNT(que_num) FROM question WHERE mem_id=#{param1}
	</select>
	<!-- 문의 글목록 -->
	<select id="qnaListCall" resultType="question">
		SELECT que_num, mem_id,que_subject,que_content,que_category,que_state,que_admin,que_date FROM question 
			WHERE mem_id=#{param3} and que_del = 0
			ORDER BY que_num DESC 
			LIMIT #{param1} OFFSET #{param2}
	</select>
	

	
	
	
	
	
</mapper>