<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
> 

<!-- 이 XML 이 어떤 interface 와 연결되는지 설정 -->
<mapper namespace="gudi.pro.eeem.dao.PointDAO">

	<insert id="pointRegist">
		insert into point(mem_id,pt_type,pt_targetNum,pt_count,pt_prev,pt_next) values(#{param1},#{param2},#{param3},#{param4},
			(select sum(p.pt_count) from point p where p.mem_id=#{param1}), #{param4}+(select sum(p.pt_count) from point p where p.mem_id=#{param1}))
	</insert>

	<select id="listCall" resultType="point">
		SELECT pt_date,pt_type,pt_prev,pt_count,pt_next,pt_targetNum From point WHERE mem_id = #{mem_id}
	</select>
	
	<select id="myPointChk" resultType="String">
		select sum(pt_count) from point where mem_id=#{param1}
	</select>
	
	<!-- 유현진 - 모임신청시 신청자의 포인트를 차감하는 기능 -->
 	 <insert id="pointToss" parameterType="hashmap">
 		insert into point(mem_id, pt_type,pt_count,pt_targetNum,pt_prev,pt_next)
values(#{mem_id},1,-(select m.meet_point from meeting m where m.meet_num=#{meet_num}),#{meet_num}
,(select sum(p.pt_count) from point p where p.mem_id=#{mem_id}),
-(select m.meet_point from meeting m where m.meet_num=#{meet_num})+(select sum(p.pt_count) from point p where p.mem_id=#{mem_id}))
 	</insert>

	<!-- ========================포인트 페이징================================================= -->
	<!-- 전체목록수 -->
	<select id="pointAllCount" resultType="int">
		SELECT COUNT(pt_num) FROM point WHERE mem_id= #{mem_id} and pt_type !=6
	</select>
	<!-- 글목록 -->
	<select id="PointList" resultType="point">
		SELECT pt_date,pt_type,pt_prev,pt_count,pt_next,pt_targetNum FROM point 
			WHERE mem_id= #{param3} and pt_type !=6
			ORDER BY pt_num DESC 
			LIMIT #{param1} OFFSET #{param2}
	</select>
	
	
	

</mapper>