<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
> 

<!-- 이 XML 이 어떤 interface 와 연결되는지 설정 -->
<mapper namespace="gudi.pro.eeem.dao.PointDAO">

	<insert id="pointRegist">
		insert into point(mem_id,pt_type,pt_targetNum,pt_count,pt_prev,pt_next) values(#{param1},#{param2},#{param3},#{param4},
			(select sum(p.pt_count) from point p where p.mem_id=#{param1}), #{param4}+(select sum(p.pt_count) from point p where p.mem_id=#{param1}))
	</insert>

	<select id="listCall" resultType="point">
		SELECT pt_date,pt_type,pt_prev,pt_count,pt_next,pt_targetNum From point WHERE mem_id = #{mem_id}
	</select>


</mapper>